<p id="notice"><%= notice %></p>

<h1>Onduleurs</h1>

<table>
  <thead>
    <tr>
      <th>Lb</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @onduleurs.each do |onduleur| %>
      <tr>
        <td><%= onduleur.lb %></td>
        <td><%= onduleur.description %></td>
        <td><%= link_to 'Show', onduleur %></td>
        <td><%= link_to 'Edit', edit_onduleur_path(onduleur) %></td>
        <td><%= link_to 'Destroy', onduleur, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Onduleur', new_onduleur_path %>
