<p id="notice"><%= notice %></p>

<p>
  <strong>Lb:</strong>
  <%= @onduleur.lb %>
</p>

<p>
  <strong>Description:</strong>
  <%= @onduleur.description %>
</p>

<%= link_to 'Edit', edit_onduleur_path(@onduleur) %> |
<%= link_to 'Back', onduleurs_path %>
